/* universal reset */

* {
  margin: 0 0;
  padding: 0 0;
}

.all-content {
  width: 825px;
  margin: 50px auto;
}

/* Text changes */

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.title {
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  padding: 15px 0;
}

.shipping {
  text-transform: uppercase;
  margin-bottom: 25px;
}

.details {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.price {
  font-size: 25px;
}

/* Link declarations */

a:link {
  color: black;
  font-weight: bold;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: red;
}

.link {
  margin-bottom: 25px;
}

/* botton declarations */

button {
  background-color: black;
  color: white;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  font-size: 20px;
}

button:hover {
  color: black;
  background-color: white;
  border-top: black 5px solid;
}

/* whole product declarations */

.whole-product {
  border: solid 5px black;
}

/* list changes */

.list-1 {
  list-style-type: square;
}

li {
  margin-left: 19px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 35px;
}
